.app_marine_theme {
    --bg-color: #f4f7fb;
    --inverted-bg-color: #1a4780;
    --primary-color: #135d5c;
    --inverted-primary-color: #f4f7fb;
    --secondary-color: #f4f7fb;
    --inverted-secondary-color: #1a4780;
}
